<head>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
                integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
                crossorigin="anonymous">
</head>

<body>
        <div class="jumbotron">
                <h1 class="text-center"><strong>TinyApp!</strong></h1>
        </div>
        <% if (user) { %>
        <div class = "btn-group">
        <form method="POST" action="/logout"><input type="hidden" name="logout" placeholder="Click to logout">
                </input><button class="btn btn-danger btn-lg" > Logout </button></form>

        </div>
        <p class="text-center"><a href="http://localhost:8080/urls/new" class ="text-info"> Create your own very, very small URL</a></p>
        <h3 class="text-center text-dark">Logged in as <%=user.email%>!</h3>
        <%  } %>