<!doctype html>
<html>
<head>
  
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Sign Up</h1>

    <!-- LOGIN FORM -->
    <form action="/register" method="post">
        <div class="form-group">
            <label>Enter your email</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label> Choose a new password</label>
            <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Register</button>
    </form>

    <hr>

    <p>Have an account? <a href="/login">Sign in</a></p


</div>
</div>
</body>
