<!DOCTYPE html>
<html>

<head>
</head>

<body bgcolor = skyblue>
    <% include ./partials/_header %>
    <table>
        <tr>
            <td>
                <a href="#"> <%=longURL%> </a>
            </td>
            <td> <a href="#"> <%=shortURL%> </td>
        </tr>
    </table>


</body>

</html>