<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <% include ./partials/_header %>
    <table>
        <th>
            Shortened URL:
        </th>
        <th>
        Long URL
        </th>
       
        <tr>
            <td>
                <a href="#"> <%=longURL%> </a>
            </td>
            <td> <a href="#"> <%=shortURL%> </td>
        </tr>
    </table>
    
            
</body>

</html>